.availability {
  border-bottom: 1px solid rgb(231, 231, 231);
}

.availability .option {
  display: none;
  visibility: hidden;
}

.availability .option h2 {
  font-weight: 900;
}

.availability button {
  padding: 16px 40px;
  margin: 40px auto;
}

@media(min-width: 768px) {
  .availability {
    margin: 32px 40px;
    display: grid;
    grid-template-columns: 1fr 1fr 1fr 1fr;
    justify-items: center;
  }

  .availability .option {
    display: inline;
    visibility: visible;
  }

  .availability a {
    grid-column: 2/4;
  }
}

@media(min-width: 1440px) {
  .availability {
    display: flex;
    justify-content: space-between;
    margin: 0 96px;
    padding: 56px 0;
  }

  .availability button {
    margin: auto 8px;
  }

  .availability .options {
    width: 900px;
    margin: 56px 0;
    padding: 0;
  }
}

@media(min-width: 1920px) {
  .availability {
    margin: 0 160px;
  }
}