.blogs-background {
  height: 304px;
  background-color: #f2efeb; 
  margin-bottom: -200px;
}

.blog-underline {
  width: 120px;
  border-bottom: 4px solid red;
  margin: 20px 0;
  margin-bottom: 40px;
}

.blogs-container {
  margin: 0;
  position: relative;
  max-width: 400px;
}

.blogs-container .card {
  width: 18rem; 
  box-shadow: 0 0 10px rgba(0, 0, 0, 0.1); 
  border: none;
}

.next-prev {
  text-align: center;
  visibility: hidden;
  display: none;
  justify-content: center;
  transition: .5s;
  color: #a8a8a8;
}

@media(min-width: 550px) {
  .blogs-container {
    max-width: none;
  }

  .next-prev {
    display: flex;
    visibility: visible;
  }
}

@media(min-width: 1200px) {
  .blogs-container {
    padding: 0 120px !important;
  }
}
