.blogs-container .blog {
  margin: 0 16px !important;
}

.blog-underline {
  width: 120px;
  border-bottom: 4px solid red;
  margin: 20px 0;
  margin-bottom: 40px;
}

.blogs-container {
  margin: 0 120px;
  position: relative;
  padding: 0 120px !important;
}

.blogs-container .blog .blog-image {
  width: 100%;
  max-height: 200px;
  object-fit: cover;
}

.next-prev {
  position: absolute;
  background-color: rgba(255, 255, 255, 0.75);
  text-align: center;
  visibility: hidden;
  display: none;
  width: 320px;
  height: 304px;
  padding-top: 15%;
  justify-content: center;
  top: 119px;
  transition: .5s;

  i {
    transition: .5s;
    transform: translate(-20%, -10%);
  }

  &:hover i {
    transform: scale(1.5);
  }
}

.next {
  right: 117px;
  padding-right: 24px;
}

.prev {
  left: 117px;
  padding-left: 24px;
}

.blogs-container .underline {
  width: 120px;
  border-bottom: 4px solid red;
  margin-bottom: 40px;
}

@media(min-width: 768px) {
  .next-prev {
    display: flex;
    visibility: visible;
  }
}

@media(min-width: 1024px) {
  .next-prev {
    height: 376px;
    max-height: 330px;
  }
}

@media(min-width: 1200px) {
  .next-prev {
    padding-top: 9%;
  }
}
