.newsletter {
  margin: 32px auto;
  max-width: 280px;
  margin-top: 120px !important;
}

.newsletter .newsletter-input input {
  border-radius: 4px 0 0 4px;
  border-right: none;
}

.newsletter .newsletter-input button {
  border-radius: 0 4px 4px 0;
}

@media(min-width: 425px) {
  .newsletter {
    max-width: 360px;
  }
}

@media(min-width: 768px) {
  .newsletter {
    border: 1px solid lightgray;
    max-width: 1000px;
    margin: 32px auto;
    padding: 64px 40px;
  }

  .newsletter-content {
    max-width: 600px;
    margin: auto;
  }
}

@media(min-width: 1600px) {
  .newsletter {
    margin: 32px auto;
  }
}