.page-links {
  display: grid;
  margin-bottom: 120px;
  grid-gap: 24px;
  max-width: 760px;
}

.page-links .page-link-wraper {
  overflow: hidden;
  transition: .5s;
}

.page-links .page-link-wraper .page-link {
  margin: 0 auto;
  background-color: rgb(0, 0, 0);
  position: relative;
  transition: .5s;
  min-height: 304px;
}

.page-links .page-link-wraper .page-link .page-link-img {
  position: absolute;
  top: 0;
  left: 0;
  height: 100%;
  width: 100%;
  z-index: 0;
  object-fit: cover;
  opacity: 0.5;
}

.page-links .page-link-wraper .page-link .link-title {
  position: absolute;
  transform: translate(-50%, -50%);
  top: 50%;
  left: 50%;
}

.page-links .page-link-wraper .page-link .link-description {
  visibility: hidden;
  transition: .1s;
  margin-top: 80%;
}

@media(min-width: 425px) {
  .page-links {
    padding: 0 40px !important;
  }
}

@media(min-width: 768px) {
  .page-links {
    grid-template-columns: 1fr 1fr;
  }
}

@media(min-width: 1024px) {
  .page-links .page-link-wraper .page-link {
    min-height: 440px;

    &:hover {
      .page-link-img {
        opacity: 0.6;
      }

      .link-description {
        visibility: visible;
      }
    }
  }

  .page-links .page-link-wraper .page-link .link-title {
    padding: 20% 0;
  }

  .page-links {
    padding: 0 104px !important;
    max-width: 1400px;
  }
}
