// Specific CSS for your home-page
@media (min-width: 1200px) {
  .container {
      max-width: 2000px !important;
  }
}

.more-content-here {
  height: 2000px;
  padding: 1000px 0;
  margin: 100px 0;
  background-color: rgb(204, 204, 204);
}