<div class="container-fluid border-top" style="margin-top: 40px;">
  <div class="container d-flex pt-5 pb-4 justify-content-around">
    <p class="title text-xxs" style="font-weight: 500;">Facebook</p>
    <p class="title text-xxs" style="font-weight: 500;">Privacy</p>
    <p class="title text-xxs" style="font-weight: 500;">Instagram</p>
  </div>
</div>
