<div class="container-fluid border-top d-flex justify-content-around text-light p-0" style="margin-top: 40px;">
  <i class="p-3 w-100 text-center fab fa-facebook-f" style="background-color: #1877f2"></i>
  <i class="p-3 w-100 text-center fab fa-instagram" style="background-color: #5851db"></i>
</div>

<div class="container-fluid pt-5 pb-4 text-center" style="background-color: #171717;">
  <p style="color: darkgrey !important;"><i class="far fa-copyright"></i>  All Rights Reserved. <i class="text-danger">Impala</i> Hostel Co. hostelImpala@support.com</p>
</div>