<div class="container-fluid footer">
  <div class="container mx-auto justify-content-between footer-content">
    <img src="/assets/logo.png" alt="" class="mb-5">
    <p class="mb-5 text-m footer-text">The hostel of Africa / Impala<i class="far fa-copyright text-xs"></i></p>
    <div>
      <h3 class="title-xxs">Find us on</h3>
      <div class="d-flex justify-content-center mx-auto">
        <p class="mx-2 text-xl"><i class="fab fa-facebook-f"></i></p>
        <p class="mx-2 text-xl"><i class="fab fa-instagram"></i></p>
        <p class="mx-2 text-xl"><i class="fab fa-twitter"></i></p>
        <p class="mx-2 text-xl"><i class="fab fa-pinterest-p"></i></p>
        <p class="mx-2 text-xl"><i class="fab fa-youtube"></i></p>
      </div>
    </div>
  </div>
</div>