<div class="bg-dark container-fluid d-flex justify-content-around text-light pt-2" style="height: 40px; margin-top: 120px">Impala</div>

<div class="container-fluid text-align-center d-flex justify-content-center" style="background-color: #d15b4a;">
  <p class="title text-xxs m-5 text-light" style="font-weight: 500;">Facebook</p>
  <p class="title text-xxs m-5 text-light" style="font-weight: 500;">Privacy</p>
  <p class="title text-xxs m-5 text-light" style="font-weight: 500;">Instagram</p>
</div>