<div class="footer container-fluid">
  <div class="container justify-content-between footer-content">
    <div class="follow-text">
      <h3 class="follow">Find us on</h3>
      <div class="d-flex justify-content-center follow-icons mx-auto">
        <p class="mx-2 follow-icon"><i class="fab fa-facebook-f"></i></p>
        <p class="mx-2 follow-icon"><i class="fab fa-instagram"></i></p>
        <p class="mx-2 follow-icon"><i class="fab fa-twitter"></i></p>
        <p class="mx-2 follow-icon"><i class="fab fa-pinterest-p"></i></p>
        <p class="mx-2 follow-icon"><i class="fab fa-youtube"></i></p>
      </div>
    </div>
    <p class="center-text my-auto">The hostel of Africa / Impala<i class="far fa-copyright copyright"></i></p>
    <img src="/assets/logo.png" alt="" class="navbar-brand">
  </div>
</div>