<!-- Navbar content exclusing drop down menu -->
<nav class="navbar navbar-expand-lg navbar-light fixed-top font-weight-bold fs-4 navbar-container">
  <div class="container justify-content-between navbar-content">
    <a class="navbar-brand" href="#"><img src="/assets/logo.png" alt=""></a>
    <div class="justify-content-center font-weight-bold navbar-center">
      <% @navLinks.each do |n| %>
        <a class="nav-link mx-1 text-uppercase title text-xxs" href=""><%= n[:title] %></a>
      <% end %>
    </div>
    <div>
      <a class="text-danger mr-2 title text-xxs" href="#">BOOK NOW</a>
      <button class="navbar-toggler" type="button" data-bs-toggle="collapse" data-bs-target="#navbarToggleExternalContent" aria-controls="navbarToggleExternalContent" aria-expanded="false" aria-label="Toggle navigation">
        <span class="navbar-toggler-icon"></span>
      </button>
    </div>
  </div>
</nav>

<!-- Drop down menu for mobile -->
<div class="collapse content-collapsed bg-white" id="navbarToggleExternalContent">
  <div class="extended-content">
    <ul class="navbar-collapse container text-end font-weight-bold text-center" id="navbarToggleExternalContent">
      <% @navLinks.each do |n| %>
        <a class="nav-link text-dark my-4 text-uppercase title text-xxs" href=""><%= n[:title] %></a>
        <div class="underline border-bottom"></div>
      <% end %>
    </ul>
  </div>
</div>

<!-- Button for collapse content on mobile -->
<div class="collapse-toggler"></div>