.availability {
  border-bottom: 1px solid rgb(185, 185, 185);
}

.availability .options {
  display: none;
  visibility: hidden;
}

.availability button {
  padding: 16px 40px;
  font-weight: bold;
  display: flex;
  margin: 40px auto;
}

@media(min-width: 768px) {
  .availability {
    margin: 0 40px;
  }

  .availability .options {
    display: flex;
    visibility: visible;
    justify-content: space-between;
    padding: 40px 0 0 0;
  }
}

@media(min-width: 1440px) {
  .availability {
    display: flex;
    justify-content: space-between;
    margin: 0 96px;
  }

  .availability button {
    margin: auto 8px;
  }

  .availability .options {
    width: 900px;
    margin: 56px 0;
    padding: 0;
  }
}

@media(min-width: 1920px) {
  .availability {
    margin: 0 240px;
  }
}