.availability {
  border-bottom: 1px solid rgba(0, 0, 0, 0.158);
  display: flex;
}

.availability button {
  height: 48px;
  border-radius: 0;
  padding: 8px 24px;
}

.availability-content {
  display: none;
  visibility: hidden;
}

.availability-btn {
  width: 80%;
  margin: auto;
}

@media(min-width: 768px) {
  .availability-content {
    display: inline-block;
    visibility: visible;
    margin: 0 16px;
  }

  .availability-btn {
    width: 200px;
    margin: auto 0;
  }
}