.availability {
  border-bottom: 1px solid rgba(0, 0, 0, 0.158);
  display: flex;
}

.availability-btn {
  border-radius: 0;
  padding: 16px 28px;
  margin: auto;
  font-weight: bold;
}

.availability-content {
  display: none;
  visibility: hidden;
}

@media(min-width: 768px) {
  .availability {
    margin: 0 16px;
  }

  .availability-content {
    display: inline-block;
    visibility: visible;
    margin: 0 16px;
  }

  .availability-btn {
    margin: auto 0;
  }
}

@media(min-width: 1024px) {
  .availability {
    margin: 0 80px;
  }

  .availability-btn {
    padding: 16px 40px;
    font-size: 18px;
  }
}

@media(min-width: 1440px) {
  .title {
    font-size: 20px;
  }

  .availability {
    margin: 0 160px;
  }

  .availability .availability-content h2 {
    font-size: 40px;
  }

  .availability-btn {
    font-size: 28px;
  }
}