.banner {
  height: 75vh;
  position: relative;
  overflow: hidden;
}

.banner .banner-img {
  height: 100%;
  width: 100%;
  opacity: 0.4;
  background-attachment: fixed;
  background-position: center;
  background-size: cover;
}

.banner .banner-title {
  position: absolute;
  transform: translate(-50%, -50%);
  top: 50%;
  left: 50%;
  text-align: center;
}