.blogs {
  margin-bottom: 200px;
  position: relative;
}

.blogs .blog {
  margin: auto;
  align-items: center;
}

.blog-image {
  height: 304px;
  width: 304px !important;
  object-fit: cover;
  margin: 0 auto;
}

.blog-info {
  color: grey;
  font-size: 18px;
  width: 304px !important;
  margin: 0 auto;
}

.blog-title {
  font-size: 24px;
  width: 304px !important;
  margin: 0 auto;
}

.blogs .underline {
  width: 120px;
  border-bottom: 4px solid red;
  margin-bottom: 120px;
}

.next-prev {
  position: absolute;
  font-size: 56px;
  background-color: rgba(255, 255, 255, 0.75);
  width: 320px;
  text-align: center;
  height: 560px;
  margin: auto;
  top: 160px;

  i {
    padding-top: 50%;
  }
}

.next {
  right: 0;
}

.prev {
  left: 0;
}