.filter .filter-form {
  display: grid;
  grid-template-columns: 1fr 1fr 1fr;
  height: 200px;
  width: 100%;
  justify-items: center;

  h5 {
    grid-column: span 3 ;
  }

  .form-button {
    height: 64px;
    width: 304px;
  }
}

.search {
  margin-top: 88px;
}

.search .form-field {
  display: flex !important;
  visibility: visible !important;
  flex-direction: column;
}

.search .filter-form {
  display: flex !important;
  flex-direction: column;
}

.filter .form-field {
  display: none;
  visibility: hidden;
}

@media(min-width: 768px) {
  .filter {
    margin: 0 40px;
    padding: 40px;
  }

  .filter .form-field {
    display: flex;
    flex-direction: column;
    visibility: visible;
  }

  .filter .filter-form .form-button {
    width: 400px;
  }
}

@media(min-width: 1440px) {
  .filter .filter-form {
    display: flex;

    h5 {
      margin: 0;
    }
  }
}