.navbar-container {
  justify-content: space-between;
  background: white;
  padding: 40px 8px !important;
  transition: .5s;
}


.navbar-container .navbar-center {
  display: none;
  visibility: hidden;
  transition: .5s;
  margin-left: -80px;
}

.navbar-container .navbar-collapse {
  flex-grow: 0;
}

.navbar-container .navbar-brand img {
  width: 112px;
  transition: .5s;
}

.content-collapsed {
  position: fixed;
  width: 100vw;
  z-index: 1000;
  top: 140px;
  padding-top: 24px;
  transition: .5s;
}

.navbar-toggler {
  border: none !important;
}

.scrolling-active {
  padding-top: 8px !important;
  padding-bottom: 8px !important;
}

.scrolling-active-collapase {
  top: 64px !important;
}

.navbar-container.scrolling-active img {
  width: 84px;
}

.navbar-container.scrolling-active .navbar-center {
  margin-left: 0 !important;
}

@media(min-width: 425px) {
  .navbar-container .navbar-brand img {
    width: 144px;
  }

  .navbar-container.scrolling-active img {
    width: 120px;
  }
}

@media(min-width: 992px) {
  .navbar-container .navbar-brand img {
    width: 184px;
  }

  .navbar-container.scrolling-active img {
    width: 104px;
  }

  .navbar-container .navbar-center {
    display: flex;
    visibility: visible;
  }

  .navbar-container.scrolling-active {
    padding: 12px 64px !important;
  }
}