.navbar-container {
  justify-content: space-between;
  background: white;
  padding-top: 64px !important;
  padding-bottom: 64px !important;
  transition: .5s;
}

.navbar-container .navbar-center {
  width: 30%;
  display: none;
  visibility: hidden;
  transition: .5s;
}

.navbar-container a {
  font-size: 14px;
  transition: .5s;
}

.navbar-container .navbar-collapse {
  flex-grow: 0;
}

.navbar-container .navbar-brand img {
  width: 112px;
  transition: .5s;
}

.content-collapsed {
  position: fixed;
  width: 100vw;
  z-index: 1000;
  top: 184px;
  font-size: 20px;
  padding-top: 24px;
  transition: .5s;
}

.navbar-toggler {
  border: none !important;
}

.scrolling-active {
  padding-top: 12px !important;
  padding-bottom: 12px !important;
}

.scrolling-active-collapase {
  top: 64px !important;
  font-size: 18px;
}

.navbar-container.scrolling-active img {
  width: 84px;
}

.navbar-container.scrolling-active a {
  font-size: 12px;
}

@media(min-width: 425px) {
  .navbar-container a {
    font-size: 20px;
  }

  .navbar-container .navbar-brand img {
    width: 144px;
  }

  .navbar-container.scrolling-active a {
    font-size: 18px;
  }

  .navbar-container.scrolling-active img {
    width: 120px;
  }
}

@media(min-width: 768px) {
  .navbar-container a {
    font-size: 22px;
  }
}

@media(min-width: 992px) {
  .navbar-container .navbar-brand img {
    width: 184px;
  }

  .navbar-container.scrolling-active img {
    width: 152px;
  }

  .navbar-content {
    max-width: 2000px !important;
  }

  .navbar-container .navbar-center {
    display: flex;
    visibility: visible;
  }

  .navbar-container {
    padding: 64px !important;
  }

  .navbar-container.scrolling-active {
    padding: 12px 64px !important;
  }
}