.room-card {
  margin: 24px 8px;
  padding: 8px;
  position: relative;
}

.room-card img {
  height: 200px;
  width: 100%;
  object-fit: cover
}

.room-titles {
  margin-top: 40px;
  text-align: center;
}