.title {
  font-family: 'Public Sans', sans-serif;
  transition: .5s;
  color:#4a4a4a;
  font-weight: 800;
}

.display-title {
  font-family: 'Londrina Shadow', cursive;
  text-shadow: 2px 2px 10px black;
  color: white;
}

.title-l {
  font-size: 32px;
}

.title-m {
  font-size: 28px;
}

.title-s {
  font-size: 26px;
}

.title-xs {
  font-size: 24px;
}

.title-xxs {
  font-size: 22px;
}

@media(min-width: 425px) {
  .title-l {
    font-size: 36px;
  }

  .title-m {
    font-size: 34px;
  }

  .title-s {
    font-size: 32px;
  }

  .title-xs {
    font-size: 30px;
    transition: .5s;
  }

  .title-xxs {
    font-size: 28px;
  }
}

@media(min-width: 768px) {
  .title-l {
    font-size: 40px;
  }

  .title-m {
    font-size: 38px;
  }

  .title-s {
    font-size: 36px;
  }

  .title-xs {
    font-size: 34px;
    transition: .5s;
  }

  .title-xxs {
    font-size: 32px;
  }
}

@media(min-width: 1024px) {
  .title-l {
    font-size: 44px;
  }

  .title-m {
    font-size: 42px;
  }

  .title-s {
    font-size: 40px;
  }

  .title-xs {
    font-size: 38px;
    transition: .5s;
  }

  .title-xxs {
    font-size: 36px;
  }
}