// Graphical variables
@import "config/fonts";
@import "config/colors";
@import "config/bootstrap_variables";

// External libraries
@import "bootstrap/scss/bootstrap";
@import "font-awesome-sprockets";
@import "font-awesome";
@import "simple_calendar";

// Your CSS partials
@import "components/index";
@import "index";

a {
  color:#585858 !important;

  &:hover {
    color: #202020 !important;
  }
}

p {
  color: #585858 !important;
  margin: 0 !important;
  padding: 0 !important;
}

h1, h2, h3, h4, h5, h6 {
  color: #3f3f3f !important;
}